@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

/* Reset */
* {
    margin: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}
/* End Reset */


/* Set the Viewport */
html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Baloo Chettan 2';
}
/* End Viewport Settings */

/* Helpers */
.bg-gray {
    background: #dfdfdf;
}

.bg-main {
    background: #dfdfdf;
}

.fh {
    height: 100%;
}

.fw {
    width: 100%;
}

.v-name {
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    /* align-items: center; */
}

.flex-column {
    flex-direction: column;
}

.flex-column > :not(:first-child) {
    margin-top: 1em;
}

.text-blue {
    color: #4169e1;
}

.text-bold {
    font-weight: bold;
}

.text-invisible {
    color: transparent;
}

.inline {
    display: inline-block;
}

.overflow-v {
    overflow-y: auto;
}
/* End Helpers */

/* Layout */
.container {
    display: flex;
    /* padding: 5em 20rem; */
    padding-bottom: 5em;
    padding-top: 5em;
    flex-direction: column;
    align-items: space-around;
    /* justify-content: space-around; */
    flex: 1 1 auto;
}

.container > :first-child {
    margin-top: auto;
}

.container > :last-child {
    margin-bottom: auto;
}

.container > :not(:first-child) {
    margin-top: 1em;
}

.title {
    margin-bottom: 10px;
}

dl {
    display: flex;
    flex-flow: row wrap;
}
dt {
    flex-basis: 50%;
    padding: 2px 4px;
    /* text-align: right; */
}
dd {
    flex-basis: 50%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
}
/* End Layout */

/* Card */
.card {
    width: 100%;
    background: #f7fafc;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.card > div {
    width: 100%;
    padding: 2em 0;
    height: 100%;
    display: inline-block;
    margin-right: 1em;
}
/* End Card */

/* Form */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .25rem .75rem;
    height: 2.5rem;
    border-radius: 4px;
    min-width: 5em;
    border: 1px solid #ddd;
    outline: 0 none;
    background-color: transparent;
    font-family: 'Baloo Chettan 2';
    text-decoration: none;
    font-size: 1rem;
}

.select {
    display: flex;
    max-width: fit-content;
    max-width: -moz-fit-content;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /*Don't really need this just for demo styling*/
    min-width: 5em;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.select:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #777;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: .75rem;
    padding: 0px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
}

select:active, select:focus {
    border: 1px solid #bbb;
    outline: 0 none;
}

button {
    height: 2.5rem;
    padding: .25rem .75rem;
    font-family: 'Baloo Chettan 2';
    font-size: 1rem;
    background: eee;
    border-radius: 4px;
    border: 1px #ddd solid;
    text-decoration: none;
    min-width: 5em;
    cursor: pointer;
}

button:hover:not(:active) {
    background: #eee;
}

button:active, button:focus {
    outline: 0 none;
}

button:active {
    background: #ddd;
}

.fields > .inline:not(:first-child) {
    margin-left: 1.5em;
}

.field {
    margin-bottom: 10px;
}

label {
    display: block;
}
/* End Form */

/* Grafo e Matriz */
.grafo, .matriz {
    padding: 0.5rem;
    display: flex;
    flex: 1 1 auto;
    min-height: 400px;
    min-width: 450;
    border: 1px #ddd solid;
    border-radius: 4px;
    width: 100%;
}

.grafo {
    justify-content: center;
    align-items: center;
}

.matriz {
    justify-content: space-around;
    align-items: center;
}

.matriz * {
    padding: 0;
}

.matriz > thead, .matriz > tbody {
    width: 100%;
}

.matriz > thead > tr {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.matriz > tbody > tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.matriz tr {
    height: 100%;
}

.matriz th, .matriz td {
    height: 100%;
    text-align: center;
    min-width: 20px;
    min-height: 20px;
    max-height: 20px;
}

.matriz > tbody {
    height: 100%;
    flex-grow: 1;
    margin-top: 0 !important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
/* End Grafo e Matriz */


/* Responsividade */
@media (max-width: 599px) {
    /* X Small Display */
    .grafo, .matriz {
        width: 100%;
        overflow-x: auto;
        justify-content: unset;
    }

    .grafo canvas {
        margin: auto;
    }

    .matriz > thead > tr {
        width: 100%;
        display: flex;
        flex: 1 1 auto;
        flex-flow: row nowrap;
        justify-content: unset;
    }
    
    .matriz > tbody > tr {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: unset;
    }

    .matriz > tbody > tr > td,
    .matriz > thead > tr > th {
        margin: auto;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .card > div {
        padding: 0;
    }
    
    .card > :not(:first-child) {
        margin-top: 1em;
    }
    
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: .25rem .75rem;
        height: 2.5rem;
        border-radius: 4px;
        min-width: 5em;
        width: 100%;
        border-color: #ddd;
        background-color: transparent;
        font-family: 'Baloo Chettan 2';
        font-size: 1rem;
    }
    
    .select {
        max-width: 100%;
        min-width: 5em;
        width: 100%;
    }

    button {
        width: 100%;
    }

    .fields.horizontal {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        flex: 1 1 auto;
        flex-wrap: wrap;
    }

    .fields.horizontal > .field.inline {
        flex-basis: 46%;
        justify-self: space-around;
    }

    .fields.horizontal > .inline:not(:first-child) {
        margin-left: 1em;
    }
    
    .fields.horizontal > .field {
        flex-grow: 2;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    /* Smaller Display */
    .grafo, .matriz {
        width: 100%;
        overflow-x: auto;
        justify-content: unset;
    }

    .grafo canvas {
        margin: auto;
    }

    .matriz > thead > tr {
        width: 100%;
        display: flex;
        flex: 1 1 auto;
        flex-flow: row nowrap;
        justify-content: unset;
    }
    
    .matriz > tbody > tr {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: unset;
    }

    .matriz > tbody > tr > td,
    .matriz > thead > tr > th {
        margin: auto;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .card > div {
        padding: 0;
    }
    
    .card > :not(:first-child) {
        margin-top: 1em;
    }
    
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: .25rem .75rem;
        height: 2.5rem;
        border-radius: 4px;
        min-width: 5em;
        width: 100%;
        border-color: #ddd;
        background-color: transparent;
        font-family: 'Baloo Chettan 2';
        font-size: 1rem;
    }
    
    .select {
        max-width: 100%;
        min-width: 5em;
        width: 100%;
    }

    button {
        width: 100%;
    }

    .fields.horizontal {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        flex: 1 1 auto;
        flex-wrap: wrap;
    }

    .fields.horizontal > .field.inline {
        flex-basis: 46%;
        justify-self: space-around;
    }

    .fields.horizontal > .inline:not(:first-child) {
        margin-left: 1em;
    }
    
    .fields.horizontal > .field {
        flex-grow: 2;
    }
}

@media (min-width: 800px) and (max-width: 1023px) {
    /* Small Display */
    .grafo, .matriz {
        width: 100%;
        overflow-x: auto;
        justify-content: unset;
    }

    .grafo canvas {
        margin: auto;
    }

    .matriz > thead > tr {
        width: 100%;
        display: flex;
        flex: 1 1 auto;
        flex-flow: row nowrap;
        justify-content: unset;
    }
    
    .matriz > tbody > tr {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: unset;
    }

    .matriz > tbody > tr > td,
    .matriz > thead > tr > th {
        margin: auto;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .card > div {
        padding: 0;
    }
    
    .card > :not(:first-child) {
        margin-top: 1em;
    }
    
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: .25rem .75rem;
        height: 2.5rem;
        border-radius: 4px;
        min-width: 5em;
        width: 100%;
        border-color: #ddd;
        background-color: transparent;
        font-family: 'Baloo Chettan 2';
        font-size: 1rem;
    }
    
    .select {
        max-width: 100%;
        min-width: 5em;
        width: 100%;
    }

    button {
        width: 100%;
    }

    .fields.horizontal {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        flex: 1 1 auto;
        flex-wrap: wrap;
    }

    .fields.horizontal > .field.inline {
        flex-basis: 46%;
        justify-self: space-around;
    }

    .fields.horizontal > .inline:not(:first-child) {
        margin-left: 1em;
    }
    
    .fields.horizontal > .field {
        flex-grow: 2;
    }
}

@media (min-width: 1024px) and (max-width: 1199px)  {
    /* Medium Display */
    .card {
        flex-direction: row
    }
    
    .card > :first-child {
        margin-left: 2em;
    }

    .card > :last-child {
        margin-right: 2em;
    }

    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .half-wrapper {
        max-width: 50%;
    }

    .half-wrapper {
        align-items: stretch;
    }
}

@media (min-width: 1200px) and (max-width: 1380px) {
    /* Large Display */
    .card {
        flex-direction: row
    }
        
    .card > :first-child {
        margin-left: 2em;
    }

    .card > :last-child {
        margin-right: 2em;
    }

    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .half-wrapper {
        max-width: 50%;
    }

    .half-wrapper {
        align-items: stretch;
    }

    .half-wrapper > *{
        flex-grow: 1
    }
}

@media (min-width: 1381px) and (max-width: 1599px) {
    /* Large Display */
    .card {
        flex-direction: row
    }
        
    .card > :first-child {
        margin-left: 2em;
    }

    .card > :last-child {
        margin-right: 2em;
    }

    .container {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .half-wrapper {
        max-width: 50%;
    }

    .half-wrapper {
        align-items: stretch;
    }

    .half-wrapper > *{
        flex-grow: 1
    }
}


@media (min-width: 1600px) {
    /* Large Display */
    .card {
        flex-direction: row
    }
        
    .card > :first-child {
        margin-left: 2em;
    }

    .card > :last-child {
        margin-right: 2em;
    }

    .container {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .half-wrapper {
        max-width: 50%;
    }

    .half-wrapper {
        align-items: stretch;
    }

    .half-wrapper > *{
        flex-grow: 1
    }
}
/* End Responsividade */
